// Core components
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "systemctl" "--user" "start" "orbitd.service"
spawn-at-startup "sunsetr"

// Applets
spawn-at-startup "udiskie"
spawn-at-startup "mako"
spawn-at-startup "solaar" "--window=hide"

// Clipboard history
spawn-at-startup "wl-paste" "--type" "text"  "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

// Apps 
spawn-at-startup "steam"
spawn-at-startup "discord"

// Auto-lock on login
// spawn-at-startup "hyprlock" "--immediate"
