prefer-no-csd


debug {
    enable-overlay-planes
}

binds {
    Mod+Shift+Ctrl+T { toggle-debug-tint; }
    Mod+Shift+Ctrl+O { debug-toggle-opaque-regions; }
    Mod+Shift+Ctrl+D { debug-toggle-damage; }
}

hotkey-overlay {
    skip-at-startup
}
